:root {
    --primary-color: #6A1B9A;
    --secondary-color: #AB47BC;
    --button-gradient-start: #D500F9;
    --button-gradient-end: #E040FB;
    --button-hover-gradient-start: #E040FB;
    --button-hover-gradient-end: #EA80FC;
    --background-color: #F5F5F5;
    --text-color: #333;
    --white-color: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Основные стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header, .footer {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: var(--white-color);
    padding: 20px 0;
    text-align: center;
}

.header .logo {
    margin-bottom: 20px;
}

.header .title {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.header .download-button {
    background: linear-gradient(45deg, var(--button-gradient-start), var(--button-gradient-end));
    color: var(--white-color);
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background 0.3s ease;
}

.header .download-button:hover {
    background: linear-gradient(45deg, var(--button-hover-gradient-start), var(--button-hover-gradient-end));
}

.main {
    margin: 40px 0;
}

.main h2, .gallery h2, .community h2, .info h2, .support h2 {
    text-align: center;
}

.gallery, .community, .info, .support {
    margin-bottom: 40px;
}

.gallery-grid, .community-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img, .community img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.section-content {
    background: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px var(--shadow-color);
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.section-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-content p {
    font-size: 1.4em;
    line-height: 1.6;
}

.footer p {
    font-size: 1em;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea, button {
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .gallery-grid, .community-grid {
        display: flex;
        gap: 20px;
    }
    .gallery img, .community img {
        width: 33.33%;
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .intro, .info {
        flex: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .intro .section-content, .info .section-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .intro, .info {
        margin: 10px 0;
    }
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    gap: 20px; /* Расстояние между слайдами */
    padding: 20px; /* Внутренний отступ для боковых слайдов */
}

.swiper-slide {
    overflow: hidden; /* Скрытие контента, выходящего за пределы слайда */
}

.swiper-slide img {
    width: 100%;
    max-width: 100%; /* Ширина изображений на всю ширину слайда */
    height: auto;
    border-radius: 10px; /* Закругление углов */
}

.info-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.6em; /* Увеличение размера шрифта на 2 пункта */
}

.info-list li {
    text-align: center;
}

.not-found h2 {
    font-size: 5em;
    margin: 20px 0;
    color: var(--button-gradient-start);
}

.not-found p {
    font-size: 1.5em;
    margin: 10px 0;
}

.not-found a {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Стиль для карточки статуса сервера */
.server-status .section-content {
    background: var(--white-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px var(--shadow-color);
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Стиль для индикатора статуса сервера */
.status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
}

.status-indicator.online {
    background-color: #4CAF50; /* Зеленый цвет для онлайн */
}

.status-indicator.offline {
    background-color: #F44336; /* Красный цвет для оффлайн */
}

.status-info {
    text-align: center;
    margin: 20px 0;
}
